:root {
    --font-family-main: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --logo-main-color: #2196F3;
    --logo-secondary-color: #000000;
    --body-main-color: #FFFFFF;
    --body-secondary-color: #2F303A;
    --body-third-color: #F5F4FA;
}
body {
    font-family: var(--font-family-main);
    background-color: var(--body-main-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.link:hover, .link:focus {
    color: var(--logo-main-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* header  */
.header {
    background-color: var(--body-main-color);
}
a.current {
color: var(--logo-main-color);
}
.logo {
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--logo-secondary-color);
    
}
.logo-web {
    color: var(--logo-main-color);
}
.menu-link {
    font-family: var(--font-family-main);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}
.contact-link {
    font-family: var(--font-family-main);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
/* body */
.hero {
    color: var(--body-main-color);
    background-color: var(--body-secondary-color);
}
.hero-head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--logo-main-color);
    color: var(--body-main-color);
}
.hero-btn:hover, .hero-btn:focus {
    background-color: #188CE8;
}
.h-bonuses {
    line-height: 1.42;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}
.descr-bonuses {
    line-height: 1.71;

    color: var(--main-text-color);
}
.main-heading {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team {
    background-color: var(--body-third-color);
}
.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--secondary-text-color);
}
.team-position {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;

    color: var(--main-text-color);
}
.team-list-member {
    background-color: var(--body-main-color);
}
 /* ============= footer ========= */
.footer {
    background-color: var(--body-secondary-color);
}
.logo-footer {
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;

    color: var(--body-main-color);
}
.adress-list {
    font-style: normal;
    line-height: 1.71;
}
.adress-list-maps {
    color: var(--body-main-color);
}
.adress-list-link {
    color: #FFFFFF99;
}
/* ======== portfolio  ============
body*/
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    color: var(--secondary-text-color);
    background-color: var(--body-third-color);
}
.portfolio-btn:hover, .portfolio-btn:focus {
    background-color: var(--logo-main-color);
    color: var(--body-main-color);
}
.portfolio-list-item {
    background-color: var(--body-main-color);
}
.portfolio-heading {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
}
.portfolio-descr {
    font-size: 16px;
    line-height: 1.88;

    color: var(--main-text-color);
}